<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/index.css">
  <title>Portifólio</title>
</head>

<body>
  <div class="fundo">
    <div class="painel">
      <div class="conteudo">
        <img class="perfil" src="./img/lara.jpg" alt="logoPerfil">
        <h1> Dev Lara Fabia </h1>
          <div class="menu">
            <a href="sobre.html">Sobre mim</a>
            <a href="">Projetos</a>
            <a href="">Contate - me</a>
          </div>
        </p>
        <div class="contato">
          <a href="http://www.facebook.com/lara.fabia.10/" target="_blank">
            <img src="./img/facebook-brands.svg" alt="" style="height: 4vh;" >
          </a>

          <a href="https://www.linkedin.com/in/lara-fabia-o-6b1379185/" target="_blank">
            <img src="./img/linkedin-brands.svg" alt="" style="height: 4vh;">
          </a>

          <a href="http://github.com/devLarafabia" target="_blank" rel="_blank">
            <img src="./img/github-brands.svg" alt="" style="height: 4vh;">
          </a>

          

        </div>
      </div>
    </div>
  </div>
</body>

</html>